<div class="px-6 mt-2 messages" id="message-<%= index %>">
  <div class="p-6 bg-white border-l-4 border-indigo-500 shadow-md rounded-r-lg">
    <div class="flex items-center">
      <h3 class="text-indigo-800 font-medium"><%= message %></h3>
      <button class="ml-auto message-close" value="<%= index %>">
        <svg class="text-indigo-800" width="12" height="12" viewBox="0 0 12 12" fill="none">
          <path d="M6.93341 6.00008L11.1334 1.80008C11.4001 1.53341 11.4001 1.13341 11.1">
        </svg>
      </button>
    </div>
  </div>
</div>